<!DOCTYPE html>
<html amp lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>{{ site.title }} for {{ page.date | date: "%-d %B, %Y" }}</title>
        
        <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
        
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        
        <style amp-custom>
        </style>
        
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        
        <script async src="https://cdn.ampproject.org/v0.js"></script>
    </head>
    <body>
      <h1>You are the Worst Today</h1>
      <h1>{{ page.date | date: "%-d %B %Y" }}</h1>
      
      {{ page.body | markdownify }}
      
      {% if page.gif %}
      <amp-img src="{{ site.baseurl }}{% asset_path {{page.gif}} %}"{% if page.gif_caption %} alt="{{ page.gif_caption }}"{% endif %}></amp-img>
      {% endif %}
      
    </body>
</html>