<article>
    <header>
        <h1>You are the Worst</h1>
        <h2>{{ page.date | date: "%-d %B, %Y" }}</h2>
    </header>
    
    <section>
        {{ page.content | markdownify }}
    </section>
    
    <footer>
        <div class="pagination">
            <ul>
                <li class="page-prev">
                    {% if page.previous %}
                    <a href="{{ page.previous.url }}" class="active" title="{{ page.previous.date | date: "%-d %B, %Y" }}">Prev</a>
                    {% else %}
                    <a href="#" class="inactive">Prev</a>
                    {% endif %}
                </li>
                
                <li class="page-next">
                    {% if page.next %}
                    <a href="{{ page.next.url }}" class="active" title="{{ page.next.date | date: "%-d %B, %Y" }}">Next</a>
                    {% else %}
                    <a href="#" class="inactive">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </footer>
</article>