<article itemscope itemtype="http://schema.org/Article">
    <meta itemprop="author" content="Myles Braithwaite">
    <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
    
    <header itemprop="headline">
        <h1>
            <a href="{{ site.baseurl | prepend: site.url }}">
                You are the Worst
            </a>
        </h1>
        <h2>{{ page.date | date: "%-d %B, %Y" }}</h2>
    </header>
    
    <section itemprop="articleBody">
        {{ page.content | markdownify }}
    </section>
    
    <footer>
        <div class="pagination">
            <ul>
                <li class="page-next">
                    {% if page.next %}
                    <a href="{{ page.next.url }}" class="active" title="{{ page.next.date | date: "%-d %B, %Y" }}" rel="next">Next</a>
                    {% else %}
                    <a href="#" class="inactive">Next</a>
                    {% endif %}
                </li>
                
                <li>
                    <ul>
                        {% assign count = '0' %}
                        {% for page_num in site.posts %}
                        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                        <li>
                        {% if page_num.url == page.url %}
                            <a href="#" class="current">{{ count }}</a>
                        {% else %}
                            <a href="{{ page_num.url }}" title="{{ page_num.date | date: "%-d %B, %Y" }}" class="active">{{ count }}</a>
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                
                <li class="page-prev">
                    {% if page.previous %}
                    <a href="{{ page.previous.url }}" class="active" title="{{ page.previous.date | date: "%-d %B, %Y" }}" rel="prev">Prev</a>
                    {% else %}
                    <a href="#" class="inactive">Prev</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </footer>
</article>