// scss-lint:disable SelectorDepth, NestingDepth, EmptyRule

html {
  min-height: 100%;
  position: relative;
  
  @include media($medium-screen) {
    font: $typl8-font-weight #{$typl8-font-size + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family-mobile;
  }
  
  @include media($large-screen) {
    font: $typl8-font-weight #{$typl8-font-size + "%"}/#{$typl8-line-height} $typl8-custom-font, $typl8-font-family-desktop;
  }
}

body {
  margin-bottom: 60px;
}

article {
  header {
    text-align: center;
    
    h1 {
      margin-bottom: 0;
    }
    
    a {
      color: $typl8-heading-color;
      text-decoration: none;
      
      &:hover {
        color: $action-color;
        text-decoration: underline;
      }
    }
  }
  
  section {
    
  }
  
  figure {
      img {
          width: 100%;
      }
      
      figcaption {
          color: #4d4d4d;
      }
  }
  
  footer {
    .pagination {
      text-align: center;
      
      ul {
        display: inline;
        margin: 0;
        padding: 0;
        text-align: center;
        
        li {
          display: inline;
          list-style: none;
          
          a {
            @include transition (all .2s ease-in-out);
            
            border: $pagination-border;
            border-radius: 3px;
            outline: none;
            padding: (1.5em / 4) (1.5em / 2);
            text-decoration: none;
            
            &.inactive {
              cursor: not-allowed;
            }
            
            &.inactive,
            &.current {
              background: lighten($pagination-background, 10);
              color: lighten($pagination-color, 15);
            }
            
            &.active {
              background: $pagination-background;
              color: $pagination-color;
            
              &:hover,
              &:focus {
                background: $pagination-hover-background;
                color: $action-color;
              }
            
              &:active {
                background: $pagination-background;
              }
            }
          }
        }
        
        ul li {
          display: none;
          
          @include media($large-screen) {
            display: inline;
          }
          
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: inline;
          }
        }
      }
    }
  }
}

.mastfoot {
  @include padding(1em);
  
  color: $mastfoot-color;
  text-align: center;
  
  a {
    color: $mastfoot-color;
    text-decoration: none;
  }
  
  .iconic {
    @include size(1.5em);
    
    fill: $mastfoot-color;
    stroke: $mastfoot-color;
    vertical-align: middle;
    
    .iconic-thumbs-up {
      display: none;
    }
    
    .iconic-thumbs-down {
      display: inline;
    }
  }
  
  &:hover {
    color: $mastfoot-color-hover;
    
    a {
      color: $action-color;
      text-decoration: underline;
    }
    
    .iconic {
      fill: $action-color;
      stroke: $action-color;
      
      .iconic-thumbs-up {
        display: inline;
      }
    
      .iconic-thumbs-down {
        display: none;
      }
    }
  }
}
