html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

article {
  header {
    text-align: center;
    
    h1 {
      margin-bottom: 0;
    }
  }
  section {
    
  }
}