$action-color: #477dca;

$typl8-custom-font: true;
$typl8-font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

/////////////////////////////
// Neat
/////////////////////////////
$gutter: 0;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

/////////////////////////////
// Pagination
/////////////////////////////

$pagination-border-color: #dcdcdc;
$pagination-border: 1px solid $pagination-border-color;
$pagination-background: lighten($pagination-border-color, 10);
$pagination-hover-background: lighten($pagination-background, 5);
$pagination-color: #444;

/////////////////////////////
// Mast Head
/////////////////////////////
$mastfoot-color: lighten(#444, 10);
$mastfoot-color-hover: #444;
